backend/backend/target
backend/backend/classes
backend/backend/checkouts
backend/backend/profiles.clj
backend/backend/pom.xml
backend/backend/pom.xml.asc
backend/backend/*.jar
backend/backend/*.class
backend/backend/.lein-*
backend/backend/.nrepl-port
backend/backend/.prepl-port
backend/backend/.hgignore
backend/backend/.hg/
backend/backend/src/backend/config.clj

frontend/target
frontend/classes
frontend/checkouts
frontend/profiles.clj
frontend/pom.xml
frontend/pom.xml.asc
frontend/*.jar
frontend/*.class
frontend/.lein-*
frontend/.nrepl-port
frontend/resources/public/js
frontend/public/js
frontend/out
frontend/.repl
frontend/*.log
frontend/.env

